<p id="notice"><%= notice %></p>

<% if @region %>
<%= link_to @region.name, @region %>
<% end %>
<h1>Stations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Region</th>
      <th>No</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= link_to station.code, station %></td>
        <td><%= station.name %></td>
        <td><%= link_to station.region.name, station.region %></td>
        <td><%= station.no %></td>
        <td><%= station.address %><br /><%= station.address_for_geocode %></td>
        <td>
        <% if station.coordinates %>
          <%= link_to('map', "http://map.daum.net?q=#{station.coordinates.reverse.join(',')}") if station.coordinates %>
        <% else %>
          no map
        <% end %>
          <%= link_to 'measures', station_measures_path(station) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Station', new_station_path %>
