<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @station.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= link_to @station.region.name, @station.region %>
</p>

<p>
  <strong>No:</strong>
  <%= @station.no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @station.address %>
</p>

<p>
  <strong>Measures:</strong>
  <%= link_to 'measures', station_measures_path(@station) %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
