<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @region.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>No:</strong>
  <%= @region.no %>
</p>

<p>
  <strong>Station code:</strong>
  <%= @region.station_code %>
</p>

<%= link_to 'Stations', region_stations_path(@region) %> |

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
