<p id="notice"><%= notice %></p>

<% if @station%>
<%= link_to @station.name, @station %>
<% end %>
<h1>Measures</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Station</th>
      <th>Grade</th>
      <th>Index</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= link_to measure.station.name, measure.station %></td>
        <td><%= measure.grade %></td>
        <td><%= measure.index %></td>
        <td><%= measure.time.localtime.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= link_to 'Show', measure %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
<%= paginate @measures %>
</div>
